@page "/navigation-features/overview"

<PageTitle>Overview</PageTitle>

<h1>Navigation Features</h1>

<p>New navigation features in .NET 11 Preview 1.</p>

<h2>Overview</h2>

<nav class="nav nav-pills mb-3">
    <NavLink href="overview" RelativeToCurrentUri="true" class="nav-link">Overview</NavLink>
    <NavLink href="relative-to-current-uri" RelativeToCurrentUri="true" class="nav-link">RelativeToCurrentUri</NavLink>
    <NavLink href="get-uri-with-hash" RelativeToCurrentUri="true" class="nav-link">GetUriWithHash()</NavLink>
</nav>
